@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

main{
    font-family: Work Sans;
}

/* Hero section design style */
#hero{
    /* width: 1920px; */
    height: 910px;
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.title-1{
    font-size: 32px;
    font-weight: 600;
}
.title-2{
    font-size: 64px;
    font-weight: 700;
    margin-top: 16px;
}
.title-3{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: 24px;
}
.button-1{
    padding: 21px 32px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(82, 195, 3);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}

/* Brand-Section Design */
.container{
    text-align: center;
    padding-top: 100px;
}
.title-head{
    font-size: 24px;
    font-weight: 500;
    opacity: 0.6;
}
.title-description{
    font-size: 48px;
    font-weight: 700;
}
#card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    margin-top: 48px;
}
.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 424px;
}
.card-img{
    width: 424px;
}
.food-name{
    padding: 14px 32px;
    background-color: #52C30326;
    border-radius: 8px;
    margin-top: 32px;
}
.discount{
    font-size: 40px;
    font-weight: 600;
    margin-top: 24px;
}
.food-description{
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
    margin-top: 24px;
}